@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');
.hehe{
   margin: 25px;
    max-height: 700px;
    max-width: auto;
}
.about{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
    margin-left: 100px;
    margin-right: 200px;
}
.content{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    background-color: rgba(117, 159, 187, 0.25);
    gap: 20px;
}
.interior{
    font-family: 'Cormorant Infant', serif;
    color: #1E3A5F ;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 25px;
    letter-spacing: 36%;
    font-style: italic;
    font-weight: 400;
}
.pi{
    font-family: 'Cormorant Infant', serif;
    color: #1E3A5F ;
    font-size: 56px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
}
.ii{
    font-family: 'Cormorant Unicase', serif;
    color: #1E3A5F ;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 500;
}
.para2{
    color: #4574B2;
    
    font-size: 30px;
    font-style: italic;
    width: 70%;
    padding-top: 6px;
    letter-spacing: 5%;
}