footer{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 20px;
    background-color:#759FBB;
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: auto;
    padding-bottom: 20px;
}

.footerText-left{
    float:left;
    margin-left: 20px;
    font-size: 1rem;
    height: auto;
}

.footerText-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
    height: auto;
}

.footerText-right{
    margin-right: 20px;
    font-size: 1rem;
    height: auto;
}

.copyright{
    font-size: 1rem;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .footer{
        flex-direction: row;
        align-items: center;
    }
    .footerText-left, .footerText-right{
        margin: 0;
    }
}