@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #DCE8F0;
    padding-top: 20px;
}
.logo{
    width: auto;
    height: 200px;
}
.quote{
    display: flex;
    flex-direction: column;
    min-height: 140px;
    justify-content: space-between;
    width: 100%;
    background-color: #759FBB ;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}
.para{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: center;
    width: 45%;
    align-self: center;
    margin:auto;
}
.title{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #1E3A5F ;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
