@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #DCE8F0;
    padding-top: 20px;
}
.logo{
    width: auto;
    height: 200px;
}
.quote{
    display: flex;
    flex-direction: column;
    min-height: 140px;
    justify-content: space-between;
    width: 100%;
    background-color: #759FBB ;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
}
.para{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    text-align: center;
    width: 45%;
    align-self: center;
    margin:auto;
}
.title{
    font-size: 30px;
    font-family: 'Cormorant Garamond', serif;
    color: #1E3A5F ;
    text-align: center;
    width: 100%;
    margin-top: 10px;
}
.B{
    font-family: 'Cormorant', serif;
    font-size: 75px;
    font-weight: 500;
}
.P{
    font-family: 'Grey Qo', serif;
    font-size: 100px;
    font-weight: 500;
 }
 .J{
    font-family: Cormorant Garamond, serif;
    font-size: 25px;
    font-style: italic;
    font-weight: 100;
    color: #4574B2;
 }
 .divider{
    min-width: 17%;
    height: 1.4px;
    background-color: #1E3A5F ;
    margin-top: 20px;
 }
 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    width: 200px;
    height: 50px;
    background-color: #759FBB ;
    color: white;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor:pointer;
    border: none;
 }
 .title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    gap: 12px;
    line-height: 1;
 }
 