.navbar{
    height: 25px;
    width:380px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    padding-right: 30px;
    margin: 0 auto;
    margin-top: 30px;
    background: transparent;
    border-radius: 50px;
    color: antiquewhite;
    background-color: rgba(136, 204, 224, 0.877);;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}
li{
    font-size: 25px;
}
a{
    text-decoration: none;
    color: #eee8de;
}