@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 47px;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 13px;
    padding-right: 30px;
    margin: 0 auto;
    background: transparent;
    color: #1E3A5F ;
    background-color: #ffffff;
}
.navbar ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}
li{
    font-size: 23px;
}
li:hover{
    color: #759FBB ;
    transition: 0.3s;
}
a{
    text-decoration: none;
    font-family: 'Cinzel', serif;
    color: #1E3A5F;
}